/* USE THIS TO VISUALIZE THE DIVS
div {
    outline: 2px dashed #3E606F;
}
*/
body {
    background-color: #91AAB4;
}
.header {
    width: 100%;
    height: 90px;
    background-color: #9DE0AD;
    justify-content: center;
    text-align: center;
}

.container {
    background-color: #28666E;

}


#rightside {
    background-color: #CBDBD7;
    margin: 10px;
}

#leftside {
    background-color: #EDEEC9;
    margin: 10px;
    height: 600px;
}

#leftheader, #rightheader{
    height: 60px;
    margin: 0px 25%;
    border-radius: 30px 15px 15px 0px;
    background-color: #64B6AC;
}

#rightcontent {
    margin: 40px 5px;
    font-size: 20px;
    background-color: #e5dfdf;
}

#healthboi {
    margin: 10px;
}

img {
    height: 300px;
    display: block;
    margin: 0 auto;

}

#plscenter {
    text-align: center; 
    vertical-align: middle;
    margin-top: 10px;
    width: 100%
}

h1 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 50px;
}

h2, h3, h4 {
    font-family: 'Niramit', sans-serif;
}

h5, h6 {
    font-family: 'Kosugi', sans-serif;
}

#stats {
  background-color: #BFD8BD;
  border-radius: 5%;
  font-size: 15px;
}

#statsinner {
    margin: 30px;
}

#activitystats, #waterstats {

}


/* toggle slider switch */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  div {
    outline: 2px dashed #3E606F;
}