f2f4d1 lightest
b2d3be
89a3b2
5e6073 darkest

.container {

}


.header {
    height: 60px;
    background-color: #b2d3be;
}

h1{
    text-align: center; 
    padding-top: 20px;
}

h6{
    text-align: center;
}

#placehold{
    height: 700px; padding: 30px;

}

#todayDate {
    background-color: salmon; 
    text-align: center;
    width: fit-content;
}

#leftside{
    background-color: powderblue;
}

#rightside{
    background-color: #89a3b2;
   /* min-width: 100%; */
}

#listed{
    margin: 30px;

}
#planto {
 height: 64px;
}

#toggles{
    margin-top: 30px;
}

#chara {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%%;
  max-height: 400px;
  align-content: center;
}

h2 {
    width: 90%;
}
#stats {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#lead {
    width: 100%;
}

#water, #food, #move, #meditate, #vitamins, #hug, #wateramount
{
    min-width: 90%;
    min-height: 40px;
    margin: 3px 10px 2px;
    border-radius: 5px;
    float: left;
    background-color: honeydew;
}


